table {
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvitica, sans-serif;
}

tr {
    height: 16.02vh;
    background-color: #2A2A2C;
}
td {
    width: 25vw;
    border: 1px solid #2A2A2C;
}
#inputBox{
  background-color: #2A2A2C;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0;
}

.digitBtn{
    background-color: #6E6E74;
}

.operatorBtn{
    background-color: #FF9F0A;
}

.ACBtn{
    background-color: #C20202;
}